.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a {
	color: black;
}

.navbar-brand {
  font-family: 'Merriweather', serif;
}

li.settings {
  display: none;
}

.logged-in li.settings {
  display: block;
}